[build.environment]
  NPM_FLAGS = "--version"
  NODE_VERSION = "16"

[build]
  publish = "packages/docs/dist"
  command = "npx pnpm i --no-frozen-lockfile && npx pnpm run build:docs"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
