.badge-square-blue {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: #60a5fa1a;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 200;
  --un-text-opacity: 1;
  color: rgba(59,130,246,var(--un-text-opacity));
}
